unstructured
tiktoken
pinecone-client
pypdf
openai
langchain-community
pandas
numpy
python-dotenv
pinecone
flask
pymongo
Flask-Login
Flask-SQLAlchemy
werkzeug
psycopg2-binary
Flask-Limiter
gunicorn
langchain
